[data-bs-theme="dark"] {
  --bs-body-bg: #121212; 
  --bs-border-color: #333;     
}

/* to center the nav items for center */
@media (min-width: 992px) {
    #navbarNav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        border-radius: 50rem;
    }
}

@media (max-width: 991.98px) {
  #navbarNav {
    border-radius: 0; /* remove rounding */
  }
}

/* For burger icon */
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none;
}

html[data-bs-theme="light"] .navbar-toggler:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: #ccc;
}

html[data-bs-theme="dark"] .navbar-toggler:hover {
  background-color: rgba(255, 255, 255 0.5);
  border-color: #666;
}

.navbar-toggler {
  transition: background-color 0.3s, border-color 0.3s;
}

/* For nav items */
.navbar-nav .nav-link {
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #6ea8fe !important;
}

.navbar-nav .nav-link.active {
  color: #0d6efd !important; /* cp bootstrap primary color for active */
}

/* for image */
.image-wrapper {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.cropped-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes pulse-border {
  0% { box-shadow: 0 0 0 0 rgba(13, 110, 253, 0.7); }
  70% { box-shadow: 0 0 0 10px rgba(13, 110, 253, 0); }
  100% { box-shadow: 0 0 0 0 rgba(13, 110, 253, 0); }
}

.image-wrapper.animated-border {
  border: 2px solid #0d6efd;
  border-radius: 50%;
  animation: pulse-border 2s infinite;
}

.typing-text {
  font-family: 'Courier New', monospace;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid orange;
  width: 0;
  animation: typing 2.5s steps(21, end) forwards, blink 0.5s step-end infinite alternate;
}

/* Typing animation */
@keyframes typing {
  from { width: 0; }
  to { width: 22ch; }
}

/* Blinking cursor */
@keyframes blink {
  50% { border-color: transparent; }
}

[data-bs-theme="light"] {
  --hero-1-color: #6A1B9A;    /* Deep Indigo */
  --hero-2-color: #D84315;    /* Rust Orange */
  --hero-3-color: #00695C;    /* Teal Blue */
  --hero-4-color: #37474F;    /* Charcoal Gray */
}

[data-bs-theme="dark"] {
  --hero-1-color: #9C27B0;    /* Soft White */
  --hero-2-color: #FF5722;    /* Vivid Amber */
  --hero-3-color: #00BFA5;    /* Sky Blue */
  --hero-4-color: #00BCD4;    /* Muted Magenta */
}

#hero-1 {
  color: var(--hero-1-color);
}

#hero-2 {
  color: var(--hero-2-color);
}

#hero-3 {
  color: var(--hero-3-color);
}

#hero-4 {
  color: var(--hero-4-color);
}

.link-icon {
  width: 60px;
  height: 60px;
  transition: transform 0.2s;
}

.link-icon:hover {
  transform: scale(1.1);
  color: #6ea8fe
}

@media (max-width: 500px) {
  .display-1 {
    font-size: 2.5rem !important; 
  }
  .fs-4 {
    font-size: 1rem !important;
  }
}